body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #f7f7f7; }

.container {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .container {
      display: block; } }
  .container .side-header {
    height: 100vh;
    flex-basis: 35%;
    background: url("../img/nat-5.jpeg");
    background-image: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/nat-5.jpeg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 5rem 2rem; }
    @media only screen and (max-width: 56.25em) {
      .container .side-header {
        height: auto; } }
    .container .side-header.pe {
      background: linear-gradient(to top right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../img/pe.jpeg);
      background-size: 100%; }
    .container .side-header.me {
      background: linear-gradient(to top right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/me.jpeg);
      background-size: 100%; }
    .container .side-header.ece {
      background: linear-gradient(to top right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/ece.jpeg);
      background-size: 100%; }
    .container .side-header.ee {
      background: linear-gradient(to top right, rgba(142, 45, 226, 0.85), rgba(74, 0, 224, 0.85)), url(../img/nat-6.jpeg);
      background-size: 100%; }
    .container .side-header.ce {
      background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/ce.jpeg);
      background-size: 100%; }

.heading-primary--main {
  font-size: 4rem;
  color: #f7f7f7; }

.section-cards {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .section-cards {
      overflow: initial; } }
  .section-cards .card-container {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.card-1, .card-1.ece, .card-1.me, .card-1.ce, .card-1.ee, .card-1.pe, .card-2, .card-2.ece, .card-2.me, .card-2.ce, .card-2.ee, .card-2.pe, .card-3, .card-3.ece, .card-3.me, .card-3.ce, .card-3.ee, .card-3.pe, .card-4, .card-4.ece, .card-4.me, .card-4.ce, .card-4.ee, .card-4.pe, .card-5, .card-5.ece, .card-5.me, .card-5.ce, .card-5.ee, .card-5.pe, .card-6, .card-6.ece, .card-6.me, .card-6.ce, .card-6.ee, .card-6.pe {
  flex: 1;
  background: #fff;
  display: flex;
  margin: .5rem;
  padding: 10rem 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all .5s;
  color: #f7f7f7; }
  .card-1:hover, .card-1.ece:hover, .card-1.me:hover, .card-1.ce:hover, .card-1.ee:hover, .card-1.pe:hover, .card-2:hover, .card-2.ece:hover, .card-2.me:hover, .card-2.ce:hover, .card-2.ee:hover, .card-2.pe:hover, .card-3:hover, .card-3.ece:hover, .card-3.me:hover, .card-3.ce:hover, .card-3.ee:hover, .card-3.pe:hover, .card-4:hover, .card-4.ece:hover, .card-4.me:hover, .card-4.ce:hover, .card-4.ee:hover, .card-4.pe:hover, .card-5:hover, .card-5.ece:hover, .card-5.me:hover, .card-5.ce:hover, .card-5.ee:hover, .card-5.pe:hover, .card-6:hover, .card-6.ece:hover, .card-6.me:hover, .card-6.ce:hover, .card-6.ee:hover, .card-6.pe:hover {
    background-size: 5000%;
    transform: scale(1.1); }

.card-1 {
  background: linear-gradient(to top right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../img/nat-5.jpeg);
  background-size: 100%; }
  .card-1.ece {
    background: linear-gradient(to top right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../img/ece.jpeg);
    background-size: 100%; }
  .card-1.ce {
    background: linear-gradient(to top right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../img/ce.jpeg);
    background-size: 100%; }
  .card-1.me {
    background: linear-gradient(to top right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../img/me.jpeg);
    background-size: 100%; }
  .card-1.ee {
    background: linear-gradient(to top right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../img/nat-6.jpeg);
    background-size: 100%; }
  .card-1.pe {
    background: linear-gradient(to top right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../img/pe.jpeg);
    background-size: 100%; }

.card-2 {
  background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/nat-5.jpeg);
  background-size: 100%; }
  .card-2.ece {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/ece.jpeg);
    background-size: 100%; }
  .card-2.ce {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/ce.jpeg);
    background-size: 100%; }
  .card-2.me {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/me.jpeg);
    background-size: 100%; }
  .card-2.ee {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/nat-6.jpeg);
    background-size: 100%; }
  .card-2.pe {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/pe.jpeg);
    background-size: 100%; }

.card-3 {
  background: linear-gradient(to top right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/nat-5.jpeg);
  background-size: 100%; }
  .card-3.ece {
    background: linear-gradient(to top right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/ece.jpeg);
    background-size: 100%; }
  .card-3.ce {
    background: linear-gradient(to top right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/ce.jpeg);
    background-size: 100%; }
  .card-3.me {
    background: linear-gradient(to top right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/me.jpeg);
    background-size: 100%; }
  .card-3.ee {
    background: linear-gradient(to top right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/nat-6.jpeg);
    background-size: 100%; }
  .card-3.pe {
    background: linear-gradient(to top right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/pe.jpeg);
    background-size: 100%; }

.card-4 {
  background: linear-gradient(to top right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/ece.jpeg);
  background-size: 100%; }
  .card-4.ece {
    background: linear-gradient(to top right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/ece.jpeg);
    background-size: 100%; }
  .card-4.ce {
    background: linear-gradient(to top right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/ce.jpeg);
    background-size: 100%; }
  .card-4.me {
    background: linear-gradient(to top right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/me.jpeg);
    background-size: 100%; }
  .card-4.ee {
    background: linear-gradient(to top right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/nat-6.jpeg);
    background-size: 100%; }
  .card-4.pe {
    background: linear-gradient(to top right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/pe.jpeg);
    background-size: 100%; }

.card-5 {
  background: linear-gradient(to top right, rgba(142, 45, 226, 0.85), rgba(74, 0, 224, 0.85)), url(../img/nat-5.jpeg);
  background-size: 100%; }
  .card-5.ece {
    background: linear-gradient(to top right, rgba(142, 45, 226, 0.85), rgba(74, 0, 224, 0.85)), url(../img/ece.jpeg);
    background-size: 100%; }
  .card-5.ce {
    background: linear-gradient(to top right, rgba(142, 45, 226, 0.85), rgba(74, 0, 224, 0.85)), url(../img/ce.jpeg);
    background-size: 100%; }
  .card-5.me {
    background: linear-gradient(to top right, rgba(142, 45, 226, 0.85), rgba(74, 0, 224, 0.85)), url(../img/me.jpeg);
    background-size: 100%; }
  .card-5.ee {
    background: linear-gradient(to top right, rgba(142, 45, 226, 0.85), rgba(74, 0, 224, 0.85)), url(../img/nat-6.jpeg);
    background-size: 100%; }
  .card-5.pe {
    background: linear-gradient(to top right, rgba(142, 45, 226, 0.85), rgba(74, 0, 224, 0.85)), url(../img/pe.jpeg);
    background-size: 100%; }

.card-6 {
  background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/nat-5.jpeg);
  background-size: 100%; }
  .card-6.ece {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/ece.jpeg);
    background-size: 100%; }
  .card-6.ce {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/ce.jpeg);
    background-size: 100%; }
  .card-6.me {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/me.jpeg);
    background-size: 100%; }
  .card-6.ee {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/nat-6.jpeg);
    background-size: 100%; }
  .card-6.pe {
    background: linear-gradient(to top right, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)), url(../img/pe.jpeg);
    background-size: 100%; }

a {
  text-decoration: none; }
