// COLORS
$color-primary: #ED213A;
$color-primary-light: #ED213A;
$color-primary-dark:#93291E ;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-red-dark:#93291E;
$color-red-light:#ED213A;

$color-green-light:#7ed56f;
$color-green-dark:#28b485;

$color-purple-light:#8E2DE2;
$color-purple-dark:#4A00E0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Background Gradients


$bg-1:linear-gradient(to top right,  
rgba($color-secondary-light, .85), 
rgba($color-secondary-dark, .85));


$bg-2:linear-gradient(to top right,
rgba($color-primary-light, .85), 
rgba($color-primary-dark, .85));

$bg-3:linear-gradient(to top right,
rgba($color-tertiary-light, .85), 
rgba($color-tertiary-dark, .85)) ;

$bg-4:linear-gradient(to top right,
rgba($color-green-light, .85), 
rgba($color-green-dark, .85)) ;

$bg-5:linear-gradient(to top right,
rgba($color-purple-light, .85), 
rgba($color-purple-dark, .85));

$bg-6:linear-gradient(to top right,
rgba($color-red-light, .85), 
rgba($color-red-dark, .85));


//Background Images

$bg-img-cse:url(../img/nat-5.jpeg);
$bg-img-ece:url(../img/ece.jpeg);
$bg-img-ce:url(../img/ce.jpeg);
$bg-img-me:url(../img/me.jpeg);
$bg-img-ee:url(../img/nat-6.jpeg);
$bg-img-pe:url(../img/pe.jpeg);


