$color-white:#f7f7f7;
$color-black:#000;
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;


//FONT
$default-font-size: 1.6rem;
$open-sans: 'Open Sans',
sans-serif;
