*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 0rem;
    overflow-x: hidden;
    width: 100vw;
   
   
}

::selection {
    background-color: $color-white;
    color: $color-white;

}

.large-header {
    position: relative;
    width: 100vw;
    height: 100vh !important;
    //overflow: hidden;
	background: #333;
	background-size: cover;
    background-position: center center;
    min-height: 100vh;
    height: -webkit-fill-available;
    &, & > .section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}
#demo-canvas{
    position: absolute;
    top:0;
    width:100vw;
    }