.heading-primary {
   
    text-transform: uppercase;
    backface-visibility: hidden;
    
    &--main{ 
        animation: zoomInRight 1s;

        color:$color-white;
        font-family: 'Major Mono Display', monospace;
        font-weight: 100;
        font-size: 5rem;
        text-align: center; 
        margin: 1rem;
    }
    &--sub{
        animation: zoomInLeft 1s;

        color:$color-white;
        font-family: initial;
        margin: 0;
        letter-spacing: .5rem;
        margin: 1rem;
    }
}

.heading-tertiary{
    font-family: 'Times new roman', monospace;
 
    color:$color-white;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    color:$color-white;
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

