.margin{
    &--sm{
        margin:2rem 0;
    }
    &--md{
        margin:4rem 0;
    }
    &--lg{
        margin:4rem 0; 
    }
}

.display{
    &--hidden{
        display: none !important;
    }
    &--block{
        display: block;
    }
    &--flex{
        display: flex;
    }
    &--inherit{
        display: inherit;
    }
}